{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
 <meta charset="UTF-8">
 <title>{% block title %}OficiosYA{% endblock %}</title>
 <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>

<body>

 <!-- HEADER común -->
 <header class="header">
  <div class="logo">
   <img src="{% static 'img/logo_oficiosYA.png' %}" width="120" alt="Logo OficiosYA">
  </div>
  <nav class="menu">
   <a href="{% url 'otro_template' %}" class="btn-pill">Inicio</a>
  </nav>
 </header>

 <!-- Contenido que cambia -->
 <main>
  {% block content %}
  {% endblock %}
 </main>

 <!-- FOOTER común -->
 <footer>
  <p>© 2025 OficiosYA. Todos los derechos reservados.</p>
 </footer>

</body>

</html>