{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio - OficiosYA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body class="bg-main">

    <header class="header-main">
        <h1 class="header-logo"><a href="{% url 'feed' %}">oficios<span>YA.cl</span></a></h1>
        <nav class="navbar">
            <a href="{% url 'publicar' %}" class="btn-publicar">PUBLICAR</a>
            <form action="{% url 'feed' %}" method="get" class="search-form">
                <input type="text" name="q" placeholder="Buscar" value="{{ query }}">
                <button type="submit">🔍</button>
            </form>
            <div class="nav-icons">

                <a href="{% url 'perfil' %}" class="icon-link profile-link">
                    <span>👤</span>
                    Perfil
                </a>
            </div>
        </nav>
    </header>

    <main class="content-wrapper">
        <h2 class="welcome-title" id="welcome-user">Bienvenid@ denuevo</h2>

        <section class="category-section">
            <h3>Ofertas</h3>
            <div class="scroll-container scroll-snap-x">

                {% for p in publicaciones %}
                <a href="{% url 'publicacion_detalle' p.id %}" class="oferta-link">

                    <article class="oferta-item">
                        <img src="{{ p.imagen.url }}" alt="Publicación" class="oferta-img">
                        <div class="oferta-price">
                            ${{ p.precio }}
                        </div>
                    </article>

                </a> {% empty %}
                <p style="padding-left: 1rem; color: #555;">No hay publicaciones para mostrar. ¡Sé el primero en
                    publicar!</p>
                {% endfor %}

            </div>

            <section class="category-section bg-white">
                <h3 class="section-title">Cerca de ti</h3>

                <div class="listing-container" id="cerca-de-ti-container">
                    <p style="padding-left: 1rem; color: #555;">Obteniendo tu ubicación para buscar ofertas cercanas...
                    </p>
                </div>

            </section>

    </main>

    <script src="{% static 'js/home.js' %}"></script>

</body>

</html>