<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Login_oficios YA

        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="loggin" >
        <form action="#">           
            <div class="mi-caja">
                <h1 class="logo">
                oficiosYA.cl
                </h1>
                
                <div class= "centro"> 
                    <label for="nombre usuario">Nombre de usuario: </label>
                    <input type="text" id="username">
                </div>                
                <div class= "centro">
                    <label for="contraseña">Contrasena: </label>
                    <input type="text" id="contraseña"> 
                </div>   
                 <div class= "aceptar">
                     <a href="feed.html"> Aceptar </a>
                </div>
                <div class= "reset">
                    <a href="reset_contraseña.html">¿Haz olvidado tu contraseña? </a>
                </div>                

            </div>

        </form>

    </body>
    <html>