<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Login_oficios YA
            
        </title>
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body class="loggin" >
        <h1 class="logo">
            OficiosYa.CL
        </h1>

        <form action="#">
            <div>
                <label for="username">Nombre de usuario</label>
                <input type="text" id="username" >
            </div>
        </form>
        
    </body>
    <html>