{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mi Perfil - OficiosYA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="bg-main">

    <header class="header-main">
        <h1 class="header-logo"><a href="{% url 'feed' %}">oficios<span>YA.cl</span></a></h1>
        <nav class="navbar">
            <a href="{% url 'publicar' %}" class="btn-publicar">PUBLICAR</a>            
            <form action="#" class="search-form">
                <input type="text" placeholder="Buscar">
                <button type="submit">🔍</button>
            </form>
            <div class="nav-icons">
                <a href="mensajes.html" class="icon-link">💬</a>
                <a href="{% url 'perfil' %}" class="icon-link profile-link active"> <span>👤</span>
                    Perfil
                </a>
            </div>
        </nav>
    </header>

    <main class="content-wrapper">
        <h2 class="welcome-title">Bienvenid@ denuevo</h2>

        <section class="profile-header">
            <div class="profile-icon">👤</div>
            <h3 class="profile-username">{{ usuario.first_name }} {{ usuario.last_name }}</h3>
        </section>

        <nav class="profile-nav">
            <a href="#" class="profile-nav-item">
                <span class="nav-item-icon">💬</span>
                <span>mensajes</span>
            </a>
            <a href="#" class="profile-nav-item">
                <span class="nav-item-icon">🔖</span>
                <span>guardados</span>
            </a>
            <a href="#" class="profile-nav-item">
                <span class="nav-item-icon">⭐</span>
                <span>opiniones</span>
            </a>
        </nav>

        <section class="category-section bg-white">
            <h3 class="section-title">Publicaciones activas</h3>
            
            <div class="listing-container">
                
                {% for p in publicaciones %}
                <article class="listing-item">
                    <a href="{% url 'publicacion_detalle' p.id %}" class="listing-img-link">
                        <img src="{{ p.imagen.url }}" alt="{{ p.descripcion|truncatewords:5 }}">
                    </a>
                    <div class="listing-info-box">
                        <p class="listing-desc">{{ p.descripcion|truncatewords:10 }}</p>
                        <p class="listing-price">${{ p.precio }}</p>
                    </div>
                </article>
                {% empty %}
                <p style="padding-left: 1rem; color: #555;">Aún no tienes publicaciones activas.</p>
                {% endfor %}

            </div>
        </section>

    </main>
    
    <script src="{% static 'js/home.js' %}"></script>

</body>
</html>