{% extends 'base.html' %}
{% block content %}

<div class="perfil-wrap">

<!-- parte superior (la de las fotos y el bienvenido)-->
  <section class="perfil-hero">
    <h1>Bienvenid@ denuevo</h1>
    <div class="perfil-avatar"></div>
    <div class="perfil-username">{{ u.first_name|default:u.username|title }}</div>
  </section>

  <!-- Lugar de MENSAJES , publicar y opinioness -->
  <section class="perfil-actions">
    <a class="p-act" href="#"><span>💬</span><b>mensajes (1)</b></a>
    <a class="p-act" href="{% url 'otro_template' %}"><span>➕</span><b>publicar</b></a>
    <a class="p-act" href="#"><span>⭐</span><b>opiniones</b></a>
  </section>

  <!-- donde saldrían las publis (emojis de ejemplo nmas jeje ) -->
  <section class="perfil-list">
    <h2>Publicaciones activas</h2>

    <div class="p-grid">
      <article class="p-card">
        <div class="p-thumb"></div>
        <div class="p-metrics"><span>👁️ 18 vistas</span><span>🔖 20 guardados</span></div>
      </article>
      <article class="p-card">
        <div class="p-thumb"></div>
        <div class="p-metrics"><span>👁️ 18 vistas</span><span>🔖 20 guardados</span></div>
      </article>
      <article class="p-card">
        <div class="p-thumb"></div>
        <div class="p-metrics"><span>👁️ 18 vistas</span><span>🔖 20 guardados</span></div>
      </article>
    </div>
  </section>

</div>

{% endblock %}


