<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="style.css">
</head>
<body class= "reset">
  <form action="#">
      <div class= "caja_reset">
      <h1 class="logo">
        oficiosYA.cl
      </h1>
        <div class= "centro">
          <label for="nuevo usuario"> Ingrese nombre de usuario: </label>    
          <input type="text"  id="usuario"      
        </div>
          <div>
            <label form="bottom"> Aceptar</label>
          </div>
      </div>
   </form>

    
  
</body>
</html>
